<html>
  <head>
    <head>
      <title>Todo List</title>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
      <link href="static/styles.css" rel="stylesheet"/>

      <script src="https://kit.fontawesome.com/5fbb7279e7.js" crossorigin="anonymous"></script>
    </head>
  </head>
  <body class="bg-dark">
    <nav class="navbar navbar-expand-lg bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" style="color: white;" href="{{ url_for('home') }}">Todo</a>
        <button class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mb-2 ms-auto">
            {% if not current_user.is_authenticated: %}
            <li class="nav-item">
              <a class="nav-link text-light" href="{{ url_for('signup') }}">Sign up</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" href="{{ url_for('login') }}">Log in</a>
            </li>
            {% else: %}
            <li class="nav-item">
              <a class="nav-link text-light" href="{{ url_for('logout') }}">Log out</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>

    {% if not current_user.is_authenticated: %}
      <div class="container">
        <form method="post">
          <div class="newtask">
            <input type="text" placeholder="You need to log in first to add a task" required=required disabled=disabled />
            <input class="push" type="submit" value="Add" disabled=disabled />
          </div>
          <div class="tasks"></div>
        </form>
      </div>
    {% else: %}
      <div class="container">
        <form method="post">
          <div class="newtask">
            <input type="text" placeholder="Write your next task" name="task" required=required />
            <input class="push" type="submit" value="Add"/>
          </div>
        </form>
        <div class="tasks">
          {% for task in tasks: %}
            {% if current_user.id == task.user_id: %}
              {% if task.finished == 0 %}
                <a class="task-link" href="{{ url_for('finish_task', task_id=task.id) }}" style="text-decoration: none;"><span class="task not-finished">{{ task.task }}</span></a>
              {% else: %}
                <a class="task-link" href="{{ url_for('unfinish_task', task_id=task.id) }}" style="text-decoration: none;"><span class="task finished">{{ task.task }}</span></a>
              {% endif %}
            {% endif %}
          {% endfor %}
        </div>
      </div>
    {% endif %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>

  </body>
</html>
